h2 {
	font-size: 1.375em;
	margin: 0 0 8px 0; 
}

div {
	max-width: 500px;
	border: 1px solid black;
	background-color: #fff2e6;
	margin: 20px 0;
	padding: 30px;

	p {
		margin: 0 0 0 12px;
		padding: 0;

		sup {
			font-size: 0.5em;
			line-height: 0;
			vertical-align: 7px;
		}
	}

	img {
		margin: 18px 0 20px 12px;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline-block;
			border: 2px solid #B88259;
   			border-radius: 16px;
			margin: 4px 0 4px 10px;
			overflow: hidden;

			&:hover {
				border: 2px solid #000000;
			}

			a {
				display: inline-block;
				font-family: courier;
				background-color: #D6A987;
				color: white;
				text-decoration: none;
				padding: 4px 10px;
			}
		}
	}
	
}